<li>
    <% for ( let comment of i.comments) { %> 
        <p>
            <% if(locals.user && comment.user.id ==locals.user.id ){ %> 
                <small>
                    <a href="/comments/destroy/<%=comment.id%>">X</a>
                </small>
                <%}%>
            <%= comment.content %>
            <small>
               comment created by : &nbsp; <%=comment.user.name %>
            </small>
        </p>
    <%}%>
</li>