<% if( resetUser.isValid ){%> 

    <div style="margin: 100px;">
        <form action="/users/confirm-reset-password" method="post">

            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
            <input type="hidden" value="<%=resetUser._id%>" name="resetUserId">
            <input type="submit" value="Reset">
        </form>
    </div>
    

<%} else { %>

    <h1>Sorry this link is invalid!!</h1>
    
    <%}%>