<p>Hi <%=resetUser.user.name%> have your fogot your password ? Don't worry hold tight we are here to help you out</p>
<br>
<br>
<a href="http://127.0.0.1:8000/users/reset_password/?accessToken=<%=resetUser.accessToken%>" target="_blank" >Click here to reset yor paassword</a>
<br>
<br>
<h2>ThankYou @codeial</h2>